<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                 "
       default-lazy-init="true">
    <description>thrift配置文件 </description>
    <context:component-scan base-package="com.yangyang.thrift" />
    <!-- 连接池配置 -->
    <bean id="connectionProvider" class="com.yangyang.thrift.pool.ConnectionProviderImpl">
        <property name="serviceIP" value="127.0.0.1" />
        <property name="servicePort" value="8080" />
        <property name="maxActive" value="10" />
        <property name="maxIdle" value="10" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="true" />
        <property name="testWhileIdle" value="true" />
        <property name="conTimeOut" value="2000" />
    </bean>

    <bean id="connectionManager" class="com.yangyang.thrift.pool.ConnectionManager">
        <property name="connectionProvider"  ref="connectionProvider"/>
    </bean>

    <bean id="thriftClientProxy" class="com.yangyang.thrift.proxy.ThriftClientProxy">
        <property name="connectionManager" ref="connectionManager"/>
    </bean>
</beans>